@layer component {
	.wrapper {
		display: flex;
		align-items: center;

		font-size: 1.15rem;

		background-color: var(--color-elements);
		border-radius: 0.5rem;
		box-shadow: var(--shadow);

		&:has(> :nth-child(2)) {
			padding-inline-start: 2rem;
		}

		&:has(> .input:focus) {
			outline: 2px solid var(--color-text);
		}
	}

	.input {
		padding-inline: 1em;
		padding-block: 1em;
		border: none;
		background-color: transparent;

		flex-grow: 1;
		outline: none;

		color: var(--color-text);

		&::placeholder {
			font-weight: 600;
			color: var(--color-text);
		}
	}
}
